node_modules
npm-debug.log
.git
.gitignore
*.md
README.md
.env
.DS_Store
*.log
lib/opencv/build
lib/opencv/samples
lib/opencv/doc
lib/opencv/modules/*/test
lib/opencv/modules/*/perf
*.o
*.a
*.so
*.dylib
CMakeFiles
CMakeCache.txt
*.bat
*.sh
Makefile
